<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>backPassword</title>
    <link rel="stylesheet" href="./css/common.css">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .findPass{
            position: absolute;
            top:-200px;
            left: 190px;
            font-size: 26px;
        }
    </style>
</head>

<body style="height:100%;">
    <div class="add-station" style="height:100%;">
        <div style="position: relative;">
            <div class="text-center findPass">
                找回密码
            </div>
            <div class="steps">
                <div id="u2761" class="ax_default _默认样式">
                    <img id="u2761_img" class="img " src="images/u2761.png">
                    <div id="u2761_text" class="text " style="top: 11px; transform-origin: 23px 14px 0px;">
                        <p>
                            <i class="fa fa-check"></i>
                        </p>
                    </div>
                </div>
                <div id="u2760" class="ax_default line1">
                    <img id="u2760_img" class="img " src="images/u2760.png">
                </div>
                <div id="u2762" class="ax_default _默认样式">
                    <img id="u2762_img" class="img" src="images/u2762.png">
                    <div id="u2762_text" class="text " style="top: 11px; transform-origin: 23px 14px 0px;">
                        <p>
                            <span></span>
                        </p>
                    </div>
                </div>
                <div id="u2764" class="ax_default line1">
                    <img id="u2764_img" class="img " src="images/u2764.png">
                </div>
                <div id="u2765" class="ax_default _默认样式">
                    <img id="u2765_img" class="img" src="images/u2762.png">
                    <div id="u2762_text" class="text " style="top: 11px; transform-origin: 23px 14px 0px;">
                        <p>
                            <span></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="step1">
                <div class="form-group">
                    <label for="">帐户名</label>
                    <input type="text" class="form-control" v-model="q.name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text" class="form-control" v-model="q.name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <button class="btn btn-success form-control step1btn">
                        下一步
                    </button>
                </div>
            </div>
            <div class="step2" style="display:none">
                <div>
                    将向111111的号码发送短信验证码
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="q.name" placeholder="请输入验证码验证">
                    <label for="">
                        <button type="button" class="btn btn-radius">
                            点击获取
                        </button>
                    </label>
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <button class="btn btn-success form-control step2btn">
                        下一步
                    </button>
                </div>
            </div>
            <div class="step3" style="display:none">
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="text" class="form-control" v-model="q.name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for="">确认密码</label>
                    <input type="text" class="form-control" v-model="q.name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <button class="btn btn-success form-control step3btn">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".step1btn").click(function () {
                $(".step1").hide();
                $(".step2").show();
                $("#u2762").css({"color":'#1ABC9C'});
                $("#u2762_img").attr('src', 'images/u2761.png'); 

            })
             $(".step2btn").click(function () {
                $(".step2").hide();
                $(".step3").show();
                $("#u2764_img").attr('src', 'images/u2760.png'); 

            })
            $(".step3btn").click(function () {
                 $("#u2765").css({ "color": '#1ABC9C' });
                 $("#u2765_img").attr('src', 'images/u2761.png'); 

            })
        })
    </script>
</body>

</html>